https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css
https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js

h1{
  color: orange;
}

li{
  color: rgb(163,82,47);
}
p{
  color: #519de8;
}
span{
  color:orange;
}
.firstDiv{
  background:green;
}
.secDiv{
  background:blue;
}
